# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# Gradle
.gradle
build
bin

# IDE
.idea
*.iml
.idea_modules/
out/
.classpath
.project
*.launch

# Java crash logs
hs_err_pid*

# Runtime / logs
run
*.log
*.bak
*.orig